body {

	background: #c7b39b url(images/background.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	font-family: Arial, Verdana,  sans-serif; 
	font-size: 11pt;
	color: #999;
}
a {
    text-decoration: none;
	color: #b7864e;
}
section {
    display: grid;
    grid-columns: 150px 1fr 200px;
    grid-rows: 50px 1fr 50px;
}

section header {
    grid-column: 2;
    grid-row: 1;
	text-align: center;
	font-size: 20pt;
	color: #b7864e;
}

section nav {
    grid-column: 1;
    grid-row: 2;
	color: #b7864e;
}

section article {
    grid-column: 2;
    grid-row: 2;
}

section aside {
    grid-column: 3;
    grid-row: 2;
}
                        
section footer {
    grid-column: 2;
    grid-row: 3;
}